@page "/TaskReport/{taskId:int}/{userId:int}"       //Using routing parameters

@using ITEC245__ToDo_App_Final_Project__.Data;

@inject Popups Popups
@inject NavigationManager NavigationManager

@if (_Task != null)
{
    <h3><strong>Task Report for [@_Task.TaskName] [ID: @_Task.TaskId]</strong></h3>

    <EditForm class="mb-4" Model=@_NewReport OnValidSubmit="@CreateTaskReport">
        <div>
            <p><strong>Status:</strong> @_Task.Status</p>   <!-- Make this a dropdown to change status? Or only update to in-progress? Only Admin can change to other options -->
            <p>@_Task.TaskDescription</p>
        </div>
        <div>
            <!-- Text box for report -->
            <InputTextArea class="col-md-5" rows="4" name="TaskDetail" @bind-Value=_NewReport.Report></InputTextArea>
        </div>
        <div class="row">
            <label class="col-md-2"><strong>Complete?</strong></label>
            <input class="col-md-2" type="checkbox" @bind-value=_CompleteTask />
        </div>
        <button class="btn btn-primary mt-2" type="submit">Submit</button>
    </EditForm>
    
    <h4><strong>Task Reports:</strong></h4>

    @foreach(var report in _PreviousReports)
    {
        <div class="row border border-primary rounded-2" style="border-color: rebeccapurple !important">
            <div class="col-md-4 mt-3">
                <p><strong>Report ID: </strong>@report.ReportId</p>   <!-- Make this a dropdown to change status? Or only update to in-progress? Only Admin can change to other options -->
                <p>@report.Report</p>
            </div>
        </div>
    }
}
else
{
    <p>Task not found.</p>
}

@code {
    [Parameter]
    public int taskId { get; set; }     @* Tag needed to retrieve from url *@
    [Parameter]
    public int userId { get; set; }
    @* Tag needed to retrieve from url *@

    private Models.TaskReport _NewReport = new Models.TaskReport();

    List<Models.TaskReport> _PreviousReports;

    private Models.Task _Task;

    private Models.User _User;

    private bool _CompleteTask = false;

    protected override void OnInitialized()
    {
        using (var context = new ToDoAppDbContext())
        {
            _Task = context.Tasks.FirstOrDefault(t => t.TaskId == taskId);

            _User = context.Users.FirstOrDefault(u => u.Id == userId);

            _PreviousReports = context.TaskReports.Where(x => x.TaskID == taskId).ToList();

            _PreviousReports = _PreviousReports.OrderByDescending(x => x.ReportId).ToList();
        }
    }

    private async Task CreateTaskReport()
    {
        try
        {
            _NewReport.TaskID = _Task.TaskId;

            using (var context = new ToDoAppDbContext())
            {
                if (_CompleteTask)
                {
                    context.Tasks.FirstOrDefault(x => x.TaskId == _Task.TaskId).Status = Models.Task.TaskProgress.Complete;
                }
                else
                    context.Tasks.FirstOrDefault(x => x.TaskId == _Task.TaskId).Status = Models.Task.TaskProgress.InProgress;

                context.TaskReports.Add(_NewReport);

                await context.SaveChangesAsync();
            }

            await Popups.AlertPopup("Report submitted successfully.");

            NavigationManager.NavigateTo("/MyTasks", true);
        }
        catch 
        {
            await Popups.AlertPopup("An error occurred on Report creation.");
        }
    }
}
